build/
logs/
.vscode/
.clang-format
appsamples/build
client.out*
*.log
*.backup
*.out
appsamples/src/lulesh1.0/lulesh-par-original
update_server_files.sh
pull_server_logs.sh
machine_custom_hpc_fmt.sh
