.vscode/

build/
build_debug/
test_apps/build


logs/

scripts/build_tool/machine_custom_hpc_fmt.sh
scripts/lulesh_test.sh

rebuild.sh

src/clients/drcctlib_custom_client
proto/__pycache__

.drcctprof/

src/clients/drcctlib_standalone
